@page "/access-denied"
@model MyBuyingList.Web.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<h1>Access Denied</h1>
<p>You do not have permission to access this resource.</p>
<a href="/users">Back to Users</a>
