@page
@model MyBuyingList.Web.Pages.ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1>An error occurred</h1>
<p>Sorry, something went wrong. Please try again later.</p>
<a href="/users">Back to Users</a>
